@font-face {
    font-family: 'Hangeul Nuri';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./HangeulNuri-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Hangeul Nuri';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./HangeulNuri-Bold.woff2') format('woff2');
}
