@font-face {
    font-family: 'KIMM';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./KIMM-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'KIMM';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./KIMM-Bold.woff2') format('woff2');
}
