@font-face {
    font-family: 'Hallym Myeongjo';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./HallymMyeongjo-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Hallym Myeongjo';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./HallymMyeongjo-Bold.woff2') format('woff2');
}
