@font-face {
    font-family: 'Snell Roundhand';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./SnellRoundhand-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Snell Roundhand';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./SnellRoundhand-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Snell Roundhand';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./SnellRoundhand-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Snell Roundhand';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./SnellRoundhand-ExtraBold.woff2') format('woff2');
}
