@font-face {
    font-family: 'Binggrae';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./Binggrae-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Binggrae';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./Binggrae-Bold.woff2') format('woff2');
}
