@font-face {
    font-family: 'IBM Plex Sans KR';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('./IBMPlexSansKR-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'IBM Plex Sans KR';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('./IBMPlexSansKR-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'IBM Plex Sans KR';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./IBMPlexSansKR-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'IBM Plex Sans KR';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./IBMPlexSansKR-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'IBM Plex Sans KR';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./IBMPlexSansKR-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'IBM Plex Sans KR';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./IBMPlexSansKR-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'IBM Plex Sans KR';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./IBMPlexSansKR-Bold.woff2') format('woff2');
}
