@font-face {
    font-family: 'Interop';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('./Interop-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Interop';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('./Interop-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Interop';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./Interop-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Interop';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./Interop-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Interop';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./Interop-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Interop';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./Interop-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Interop';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./Interop-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Interop';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./Interop-ExtraBold.woff2') format('woff2');
}
