@font-face {
    font-family: 'Hakgyoansim Malgeunnal';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./HakgyoansimMalgeunnal-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Hakgyoansim Malgeunnal';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./HakgyoansimMalgeunnal-Bold.woff2') format('woff2');
}
