@font-face {
    font-family: 'Gwangyang Sunshine';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./GwangyangSunshine-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Gwangyang Sunshine';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./GwangyangSunshine-Bold.woff2') format('woff2');
}
