@font-face {
    font-family: 'YUniverse';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./YUniverse-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'YUniverse';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./YUniverse-Bold.woff2') format('woff2');
}
