@font-face {
    font-family: 'BC Card';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./BCCard-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'BC Card';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./BCCard-Bold.woff2') format('woff2');
}
