@font-face {
    font-family: 'Hakgyoansim Santteutbatang';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./HakgyoansimSantteutbatang-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Hakgyoansim Santteutbatang';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./HakgyoansimSantteutbatang-Medium.woff2') format('woff2');
}
