@font-face {
    font-family: 'Good Neighbors';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./GoodNeighbors-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Good Neighbors';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./GoodNeighbors-Bold.woff2') format('woff2');
}
