@font-face {
    font-family: 'Elice DX Neolli';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./EliceDXNeolli-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Elice DX Neolli';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./EliceDXNeolli-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Elice DX Neolli';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./EliceDXNeolli-Bold.woff2') format('woff2');
}