@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/KyoboHandwriting2021sjy.woff2') format('woff2');
}
