@font-face {
    font-family: 'Gyeonggi Title';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./GyeonggiTitle-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Gyeonggi Title';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./GyeonggiTitle-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Gyeonggi Title';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./GyeonggiTitle-Bold.woff2') format('woff2');
}
