@font-face {
    font-family: 'Kartrider Kor';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./KartriderKor-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Kartrider Kor';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./KartriderKor-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Kartrider Kor';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./KartriderKor-ExtraBold.woff2') format('woff2');
}
