@font-face {
    font-family: 'Heir of Light';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/HeirofLight-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Heir of Light';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/HeirofLight-Bold.woff2') format('woff2');
}
