@font-face {
    font-family: 'Binggrae Melona';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./BinggraeMelona-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Binggrae Melona';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./BinggraeMelona-Bold.woff2') format('woff2');
}
