@font-face {
    font-family: 'YClover';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./YClover-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'YClover';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./YClover-Bold.woff2') format('woff2');
}
