@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    background-color: transparent;
}

.shrink .side-menu {
    left: -280px;
}

.shrink .side-menu-btn {
    position: fixed;
    z-index: 20;
    left: 12px;
    border-color: #4C4D50;
}