@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

textarea {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

body {
    background-color: #E9EAEE;
}
html.dark body {
    background-color: #202124;
}

tr, th, td {
    font-weight: 400;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23B1B2B6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 1em;
}

option {
    color: #E9EAEE;
    background-color: #35363A;
}

html.dark option {
    color: #E9EAEE;
    background-color: #202124;
}

/* 스크롤바 */
body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #B1B2B6;
}
body::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: #97989C;
}
body::-webkit-scrollbar-track {
    background-color: #CDCED2;
}
html.dark body::-webkit-scrollbar-thumb {
    background-color: #4C4D50;
}
html.dark body::-webkit-scrollbar-thumb:hover {
    background-color: #646568;
}
html.dark body::-webkit-scrollbar-track {
    background-color: #35363A;
}

/* 텍스트 에리어 스크롤바 */
#report-textarea::-webkit-scrollbar {
    width: 4px;
}
#report-textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #CDCED2;
}
html.dark #report-textarea::-webkit-scrollbar-thumb {
    background-color: #B1B2B6;
}

/* 라이센스 스크롤바 */
.license-wrap::-webkit-scrollbar {
    width: 12px;
}
.license-wrap::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #B1B2B6;
}
.license-wrap::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    background-color: #97989C;
}
.license-wrap::-webkit-scrollbar-track {
    background-color: #CDCED2;
}
html.dark .license-wrap::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #4C4D50;
}
html.dark .license-wrap::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    background-color: #646568;
}
html.dark .license-wrap::-webkit-scrollbar-track {
    background-color: #35363A;
}

/* 폰트 수정 스크롤바 */
.edit-font-search::-webkit-scrollbar {
    width: 12px;
}
.edit-font-search::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #B1B2B6;
}
.edit-font-search::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    background-color: #97989C;
}
.edit-font-search::-webkit-scrollbar-track {
    background-color: transparent;
}
html.dark .edit-font-search::-webkit-scrollbar-thumb {
    background-color: #8AB4F8CC;
}
html.dark .edit-font-search::-webkit-scrollbar-thumb:hover {
    background-color: #8AB4F8;
}
html.dark .edit-font-search::-webkit-scrollbar-track {
    background-color: transparent;
}

/* 셀렉트 박스 클릭 */
.select ~ .option { display: none; }
.select:checked ~ .option { display: flex; }

/* 셀렉트 박스 클릭 시 스타일 변경 */
.select:checked + label {
    background-color: #4C4D50;
    border-color: #FCBE11;
    color: #FFFFFFCC;
    fill: #FFFFFFCC;
    filter: drop-shadow(1px 2px 4px #97989C);
}
.select:checked + label svg {
    transform: rotate(0deg);
}
html.dark .select:checked + label {
    background-color: #17181B;
    border-color: #8AB4F8;
    color: #E9EAEE;
    fill: #E9EAEE;
    filter: drop-shadow(1px 2px 4px #101010);
}

/* 셀렉트 박스 - 옵션 클릭 */
.option-input + div svg:first-of-type { display: block; }
.option-input + div svg:last-of-type { display: none; }
.option-input:checked + div svg:first-of-type { display: none; }
.option-input:checked + div svg:last-of-type { display: block; }

/* 즐겨찾기 버튼 */
.like + label > svg:first-of-type { display: block; }
.like + label > svg:last-of-type { display: none; }
.like:checked + label > svg:first-of-type { display: none; }
.like:checked + label > svg:last-of-type { display: block; }

/* 폰트 박스 맨 앞 3개 마진 0으로 설정 */
@media screen and (min-width: 1024px) {
    .main-menu > a:nth-of-type(1), 
    .main-menu > a:nth-of-type(2), 
    .main-menu > a:nth-of-type(3),
    .main-menu > a:nth-of-type(4) { 
        margin-top: 0; 
    }
}
@media screen and (max-width: 1024px) {
    .main-menu > a:nth-of-type(1), 
    .main-menu > a:nth-of-type(2), 
    .main-menu > a:nth-of-type(3) { 
        margin-top: 0; 
    }
}
@media screen and (max-width: 768px) {
    .main-menu > a:nth-of-type(1), 
    .main-menu > a:nth-of-type(2) { 
        margin-top: 0; 
    }
    .main-menu > a:nth-of-type(3) { margin-top: 10px; }
}
@media screen and (max-width: 480px) {
    .main-menu > a:nth-of-type(1) { margin-top: 0; }
    .main-menu > a:nth-of-type(2) { margin-top: 10px; }
}

/* 스켈레톤 박스 맨 앞 3개 마진 0으로 설정 */
@media screen and (min-width: 1024px) {
    .main-menu .skeleton-box:nth-of-type(1), 
    .main-menu .skeleton-box:nth-of-type(2), 
    .main-menu .skeleton-box:nth-of-type(3),
    .main-menu .skeleton-box:nth-of-type(4) { 
        margin-top: 0; 
    }
}
@media screen and (max-width: 1024px) {
    .main-menu .skeleton-box:nth-of-type(1), 
    .main-menu .skeleton-box:nth-of-type(2), 
    .main-menu .skeleton-box:nth-of-type(3) { 
        margin-top: 0; 
    }
}
@media screen and (max-width: 768px) {
    .main-menu .skeleton-box:nth-of-type(1), 
    .main-menu .skeleton-box:nth-of-type(2) { 
        margin-top: 0; 
    }
    .main-menu .skeleton-box:nth-of-type(3) { margin-top: 10px; }
}
@media screen and (max-width: 480px) {
    .main-menu .skeleton-box:nth-of-type(1) { margin-top: 0; }
    .main-menu .skeleton-box:nth-of-type(2) { margin-top: 10px; }
}

/* 스켈레톤 그라디언트 애니메이션 */
.skeleton-gradient {
    background: linear-gradient(90deg, #CDCED2, #B1B2B6, #CDCED2);
	background-size: 200% 100%;
	animation: skeleton-gradient 2s infinite;
}
html.dark .skeleton-gradient {
    background: linear-gradient(90deg, #35363A, #4C4D50, #35363A);
    background-size: 200% 100%;
}
@keyframes skeleton-gradient {
	0% { background-position: 200% center; }
	100% { background-position: 0% center; }
}

/* text ellipse */
.ellipsed-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.ellipsed-text-1 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* 로딩 스피너 */
.loader {
    border: 2px solid #CDCED2;
    border-bottom-color: #97989C;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
html.dark .loader {
    border: 2px solid #646568;
    border-bottom-color: #FFF;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}  

/* 로딩 스피너 - 회원가입 페이지 */
.loader.loader-register {
    border: 2px solid #FFC800;
    border-bottom-color: #FFEA17;
}
html.dark .loader.loader-register {
    border: 2px solid #6084CD;
    border-bottom-color: #B1C9E8;
}

/* 로딩 스피너 - 빨간색 */
.loader.loader-red {
    border: 2px solid #FF625C;
    border-bottom-color: #EF4444;
}
html.dark .loader.loader-red {
    border: 2px solid #FF625C;
    border-bottom-color: #EF4444;
}

/* 로딩 스피너 - 이미지 */
.img-loader {
    width: 3px;
    height: 15px;
    display: inline-block;
    position: relative;
    left: 20%;
    border-radius: 3px;
    color: #CDCED2;
    box-sizing: border-box;
    animation: animImgloader 0.8s linear infinite;
}
html.dark .img-loader {
    color: #B1B2B6;
}
@keyframes animImgloader {
    0% {
        box-shadow: 8px -4px, 16px 4px, 24px 0px;
    }
    25% {
        box-shadow: 8px 0px, 16px  0px, 24px 4px;
    }
    50% {
        box-shadow: 8px 4px, 16px -4px, 24px 0px;
    }
    75% {
        box-shadow: 8px 0px, 16px 0px, 24px -4px;
    }
    100% {
        box-shadow: 8px -4px, 16px 4px, 24px 0px;
    }
}

/* 검색 기능 */
.search-list .search-link:first-of-type { margin-top: 0; }
.search-list .search-link:last-of-type { margin-bottom: 28px; }

/* 검색 기능 스크롤 바 */
.search-list::-webkit-scrollbar { width: 10px; background: transparent; }
.search-list::-webkit-scrollbar-thumb { border-radius: 8px; background-color: #B1B2B6; }
.search-list::-webkit-scrollbar-thumb:hover { border-radius: 8px; background-color: #97989C; }
.search-list::-webkit-scrollbar-track { background-color: #CDCED2; }
html.dark .search-list::-webkit-scrollbar { background: transparent; }
html.dark .search-list::-webkit-scrollbar-thumb { background-color: #4C4D50; }
html.dark .search-list::-webkit-scrollbar-thumb:hover { background-color: #646568; }
html.dark .search-list::-webkit-scrollbar-track { background-color: #35363A; }

@media screen and (max-width: 768px) {
    .search-list .search-link:last-of-type { margin-bottom: 24px; }
}

/* 검색 결과 active 상태일 때 스타일 정의 */
@media (hover: hover) and (pointer: fine) {
    #active { background-color: #B1B2B6CC; }
    #active .when-active-1 { background-color: #97989C; border-color: #97989C; }
    #active .when-active-2, { fill: #E9EAEE; }
    #active .when-active-3 { color: #4C4D50; }
    #active .when-active-4 { color: #646568; }
    #active .when-active-5 { color: #646568; }
    #active .when-active-6 { fill: #646568; }
    html.dark #active { background-color: #4C4D50CC; }
    html.dark #active .when-active-1 { background-color: #646568; border-color: #646568; }
    html.dark #active .when-active-2, { fill: #B1B2B6; }
    html.dark #active .when-active-3 { color: #E9EAEE; }
    html.dark #active .when-active-4 { color: #B1B2B6; }
    html.dark #active .when-active-5 { color: #B1B2B6; }
    html.dark #active .when-active-6 { fill: #B1B2B6; }
}

/* 웹 폰트 적용하기 */
.cdn input:checked + label { background-color: #646568; color: #E9EAEE; }
@media (hover: hover) and (pointer: fine) {
    .cdn input + label:hover { background-color: #97989C1A; }
    .cdn input:checked + label:hover { background-color: #646568; }
}
html.dark .cdn input:checked + label { background-color: #35363A; }
@media (hover: hover) and (pointer: fine) {
    html.dark .cdn input + label:hover { background-color: #35363A66; }
    html.dark .cdn input:checked + label:hover { background-color: #35363A; }
}

/* 웹 폰트 적용하기 스크롤바 */
.cdn_pre::-webkit-scrollbar { display: none; }

/* 폰트 미리보기 마지막 마진 0 */
.font-preview-wrap .font-preview:last-of-type { margin-bottom: 0; }

/* 폰트 크기 한 줄 이후 숨김 */
.font-size {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 컬러 테마 */
#color-theme ~ .color-theme-select { display: none; }
#color-theme:checked ~ .color-theme-select { display: block; }

.light-label {
    display: block;
    fill: #FCBE11;
}
.light-svg {
    fill: #FCBE11;
}
.light-txt {
    color: #FCBE11;
}
html.dark .light-label {
    display: none;
}
html.dark .light-svg {
    fill: #E9EAEECC;
}
html.dark .light-txt {
    color: #E9EAEECC;
}
.dark-label {
    display: none;
}
.dark-svg {
    fill: #FFFFFFCC;
}
.dark-txt {
    color: #FFFFFFCC;
}
html.dark .dark-label {
    display: block;
    fill: #8AB4F8;
}
html.dark .dark-svg {
    fill: #8AB4F8;
}
html.dark .dark-txt {
    color: #8AB4F8;
}

/* Material UI */
.font-size-slider.MuiSlider-root {
    color: #FCBE11;
}
html.dark .font-size-slider.MuiSlider-root {
    color: #8AB4F8;
}
.font-size-slider .MuiSlider-valueLabel {
    font-family: "Spoqa Han Sans Neo", "Noto Sans KR";
    font-size: 13px;
    font-weight: 500;
    background-color: #FCBE11;
}
html.dark .font-size-slider .MuiSlider-valueLabel {
    background-color: #8AB4F8;
}
.font-size-slider .MuiSlider-valueLabel > span > span {
    color: #646568;
}
html.dark .font-size-slider .MuiSlider-valueLabel > span > span {
    color: #17181B;
}
.font-size-slider .MuiSlider-thumb:hover, 
.font-size-slider .MuiSlider-thumb.Mui-focusVisible {
    color: #FCBE11;
    box-shadow: 0 0 0 8px #FCBE114D;
}
.font-size-slider .MuiSlider-thumb:active {
    color: #FCBE11;
    box-shadow: 0 0 0 12px #FCBE114D;
}
html.dark .font-size-slider .MuiSlider-thumb:hover, 
html.dark .font-size-slider .MuiSlider-thumb.Mui-focusVisible {
    color: #8AB4F8;
    box-shadow: 0 0 0 8px #8AB4F84D;
}
html.dark .font-size-slider .MuiSlider-thumb:active {
    color: #8AB4F8;
    box-shadow: 0 0 0 12px #8AB4F84D;
}

/* 같은 제작사의 다른 폰트 호버 이벤트 */
.same-source { font-family: "Spoqa Han Sans Neo", "Noto Sans KR"; }
.same-source::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 8px;
    height: 8px;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%) rotate(45deg);
    background-color: #FCBE11;
}
html.dark .same-source::after {
    background-color: #8AB4F8;
}

/* 라이센스 본문 링크 */
#license a { text-decoration: underline; }

/* 계정 정보 */
#account ~ .account-select { display: none; }
#account:checked ~ .account-select { display: block; }

#account:checked + label svg { fill: #4C4D50; }
html.dark #account:checked + label svg { fill: #E9EAEE; }

/* 약관 동의 */
#terms-check ~ label .uncheck { display: block; }
#terms-check ~ label .check { display: none; }
#terms-check:checked ~ label .uncheck { display: none; }
#terms-check:checked ~ label .check { display: block; }

#privacy-check ~ label .uncheck { display: block; }
#privacy-check ~ label .check { display: none; }
#privacy-check:checked ~ label .uncheck { display: none; }
#privacy-check:checked ~ label .check { display: block; }

/* 댓글 활성화 */
.edit-btn-enabled {
    background-color: #FCBE11CC;
    color: #4C4D50;
    cursor: pointer
}
.edit-btn-enabled:hover {
    background-color: #FCBE11;
}
@media screen and (max-width: 1024px) {
    .edit-btn-enabled {
        background-color: #FCBE11;
    }
    .edit-btn-enabled:hover {
        background-color: #FCBE11;
    }
}
html.dark .edit-btn-enabled {
    background-color: #8AB4F8;
    color: #202124;
}
html.dark .edit-btn-enabled:hover {
    background-color: #8AB4F8E6;
}
@media screen and (max-width: 1024px) {
    html.dark .edit-btn-enabled {
        background-color: #8AB4F8;
    }
    html.dark .edit-btn-enabled:hover {
        background-color: #8AB4F8;
    }
}

/* 댓글 비활성화 */
.edit-btn-disabled {
    background-color: #CDCED2;
    color: #97989C;
    cursor: default;
}
html.dark .edit-btn-disabled {
    background-color: #35363A;
    color: #646568;
}

/* 페이지네이션 */
#__next .MuiPagination-ul button {
    color: #646568;
}
#__next .MuiPagination-ul .Mui-selected {
    color: #E9EAEE;
    background-color: #646568CC;
}
html.dark #__next .MuiPagination-ul button {
    color: #CDCED2;
}
html.dark #__next .MuiPagination-ul .Mui-selected {
    color: #E9EAEE;
    background-color: #4C4D50CC;
}