@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

/* 스크롤바 */
body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #4C4D50;
}
body::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: #646568;
}
body::-webkit-scrollbar-track {
    background-color: #35363A;
}

/* 사이드메뉴 펼치기/접기 */
.shrink .side-menu {
    left: -280px;
}
.shrink .side-menu-btn {
    position: fixed;
    left: 12px;
    border-color: #4C4D50;
}
.shrink .interface {
    width: 100%;
}
.shrink .main-menu {
    width: 100%;
}

/* 셀렉트 박스 클릭 */
.select ~ .option { display: none; }
.select:checked ~ .option { display: flex; }

/* 셀렉트 박스 클릭 시 스타일 변경 */
.select:checked + label {
    background-color: #17181B;
    border-color: #8AB4F8;
    color: #E9EAEE;
    fill: #E9EAEE;
    filter: drop-shadow(1px 2px 4px #101010);
}
.select:checked + label svg {
    transform: rotate(0deg);
}

/* 셀렉트 박스 - 옵션 클릭 */
.option-input + div svg:first-of-type { display: block; }
.option-input + div svg:last-of-type { display: none; }
.option-input:checked + div svg:first-of-type { display: none; }
.option-input:checked + div svg:last-of-type { display: block; }

/* 폰트 박스 맨 앞 3개 마진 0으로 설정 */
@media screen and (min-width: 1280px) {
    .main-menu > a:nth-of-type(1), 
    .main-menu > a:nth-of-type(2), 
    .main-menu > a:nth-of-type(3),
    .main-menu > a:nth-of-type(4) { 
        margin-top: 0; 
    }
}
@media screen and (max-width: 1280px) {
    .main-menu > a:nth-of-type(1), 
    .main-menu > a:nth-of-type(2), 
    .main-menu > a:nth-of-type(3) { 
        margin-top: 0; 
    }
}
@media screen and (max-width: 1024px) {
    .main-menu > a:nth-of-type(1), 
    .main-menu > a:nth-of-type(2) { 
        margin-top: 0; 
    }
    .main-menu > a:nth-of-type(3) { margin-top: 10px; }
}
@media screen and (max-width: 768px) {
    .main-menu > a:nth-of-type(1) { margin-top: 0; }
    .main-menu > a:nth-of-type(2) { margin-top: 10px; }
}

/* text ellipse */
.ellipsed-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* 로딩 스피너 */
.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before , 
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 4px solid #CDCED2;
    animation: prixClipFix 2s linear infinite ;
}
.loader::after {
    border-color: #8AB4F8;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
}
@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0% {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25% {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
@media screen and (max-width: 768px) {
    .loader {
        width: 32px;
        height: 32px
    }
    .loader::before , 
    .loader::after {
        border: 3px solid #CDCED2;
        animation: prixClipFix 2s linear infinite ;
    }
    .loader::after { border-color: #8AB4F8; }
}

/* 검색 기능 */
.search-list .search-link:first-of-type { margin-top: 0; }
.search-list .search-link:last-of-type { margin-bottom: 28px; }

/* 검색 기능 스크롤 바 */
.search-list::-webkit-scrollbar { width: 10px; background: transparent; }
.search-list::-webkit-scrollbar-thumb { border-radius: 8px; background-color: #4C4D50; }
.search-list::-webkit-scrollbar-thumb:hover { border-radius: 8px; background-color: #646568; }
.search-list::-webkit-scrollbar-track { background-color: #35363A; }

@media screen and (max-width: 768px) {
    .search-list .search-link:last-of-type { margin-bottom: 24px; }
}

/* 검색 결과 active 상태일 때 스타일 정의 */
@media (hover: hover) and (pointer: fine) {
    #active { background-color: #4C4D50; }
    #active .when-active-1 { background-color: #646568; border-color: #646568; }
    #active .when-active-2, { fill: #B1B2B6; }
    #active .when-active-3 { color: #E9EAEE; }
    #active .when-active-4 { color: #B1B2B6; }
    #active .when-active-5 { color: #B1B2B6; }
    #active .when-active-6 { fill: #B1B2B6; }
}

/* 웹 폰트 적용하기 */
.cdn input:checked + label { background-color: #4C4D50; }
@media (hover: hover) and (pointer: fine) {
    .cdn input + label:hover { background-color: #35363A66; }
    .cdn input:checked + label:hover { background-color: #4C4D50; }
}

/* 웹 폰트 적용하기 스크롤바 */
.cdn_pre::-webkit-scrollbar { display: none; }

/* 폰트 두께 마지막 마진 0 */
.font-weight-wrap .font-weight:last-of-type { margin-bottom: 0; }

/* 폰트 크기 한 줄 이후 숨김 */
.font-size {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}