@tailwind base;
@tailwind components;
@tailwind utilities;

/* 리셋 */
* { margin: 0; padding: 0; box-sizing: border-box; }
input,
textarea { outline: none; }
a { text-decoration: none; outline: none; }
button { border: none; outline: none; background-color: transparent; line-height: 1; }
body { background-color: #FFF; }
html.dark body { background-color: #202124; }

/* 셀렉트박스 */
select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%235F6368' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 1em;
}
option {
    color: #E9EAEE;
    background-color: #35363A;
}
html.dark option {
    color: #E9EAEE;
    background-color: #202124;
}

/* 중간 사이즈 스크롤바 */
.custom-md-scrollbar::-webkit-scrollbar { width: 12px; }
.custom-md-scrollbar::-webkit-scrollbar-thumb { border-radius: 6px; background-color: #BDC1C6CC; }
.custom-md-scrollbar::-webkit-scrollbar-thumb:hover { border-radius: 6px; background-color: #BDC1C6; }
html.dark .custom-md-scrollbar::-webkit-scrollbar-thumb { border-radius: 6px; background-color: #4C4D50; }
html.dark .custom-md-scrollbar::-webkit-scrollbar-thumb:hover { border-radius: 6px; background-color: #646568; }

/* 작은 사이즈 스크롤바 */
.custom-sm-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-sm-scrollbar::-webkit-scrollbar-thumb { border-radius: 8px; background-color: #BDC1C6CC; }
html.dark .custom-sm-scrollbar::-webkit-scrollbar-thumb { background-color: #646568; }

/* 스크롤바 없음 */
.no-scrollbar::-webkit-scrollbar { display: none; }

/* text ellipse */
.ellipsed-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Loading spinner */
.loader {
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}  

/* Loading spinner - image */
.img-loader {
    width: 3px;
    height: 15px;
    display: inline-block;
    position: relative;
    left: 20%;
    border-radius: 3px;
    color: #1B73E7;
    box-sizing: border-box;
    animation: animImgloader 0.8s linear infinite;
}
html.dark .img-loader {
    color: #8AB4F8;
}
@keyframes animImgloader {
    0% { box-shadow: 8px -4px, 16px 4px, 24px 0px; }
    25% { box-shadow: 8px 0px, 16px  0px, 24px 4px; }
    50% { box-shadow: 8px 4px, 16px -4px, 24px 0px; }
    75% { box-shadow: 8px 0px, 16px 0px, 24px -4px; }
    100% { box-shadow: 8px -4px, 16px 4px, 24px 0px; }
}

/* Material UI - Slider */
.font-size-slider.MuiSlider-root { color: #1B73E7; }
.font-size-slider .MuiSlider-valueLabel {
    font-family: "Spoqa Han Sans Neo", "Noto Sans KR";
    font-size: 14px;
    font-weight: 500;
    background-color: #1B73E7;
}
.font-size-slider .MuiSlider-valueLabel > span > span { color: #FFFFFF; }
.font-size-slider .MuiSlider-thumb:hover,
.font-size-slider .MuiSlider-thumb.Mui-focusVisible { color: #1B73E7; box-shadow: 0 0 0 8px #1B73E74D; }
.font-size-slider .MuiSlider-thumb:active { color: #1B73E7; box-shadow: 0 0 0 12px #1B73E74D; }
html.dark .font-size-slider.MuiSlider-root { color: #8AB4F8; }
html.dark .font-size-slider .MuiSlider-valueLabel { background-color: #8AB4F8; }
html.dark .font-size-slider .MuiSlider-valueLabel > span > span { color: #202124; }
html.dark .font-size-slider .MuiSlider-thumb:hover, 
html.dark .font-size-slider .MuiSlider-thumb.Mui-focusVisible { color: #8AB4F8; box-shadow: 0 0 0 8px #8AB4F84D; }
html.dark .font-size-slider .MuiSlider-thumb:active { color: #8AB4F8; box-shadow: 0 0 0 12px #8AB4F84D; }

/* Material UI - Toggle */
#__next .MuiTouchRipple-root { display: none; }
#__next .MuiSwitch-thumb { color: #FFFFFF; }
#__next .Mui-checked .MuiSwitch-thumb { color: #40E0D0; }
#__next .MuiSwitch-track { background-color: #FFFFFF80; }
#__next .Mui-checked + .MuiSwitch-track { background-color: #40E0D080; }

/* Material UI - Pagination */
#__next .MuiPagination-ul button { color: #5F6368; transition: 0s; }
html.dark #__next .MuiPagination-ul button { color: #CDCED2; }
html.dark #__next .MuiPagination-ul button:hover { background-color: #2D2E31; }
#__next .MuiPagination-ul .Mui-selected { color: #202124; background-color: #E9EAEE; }
#__next .MuiPagination-ul .Mui-selected:hover { background-color: #D2D4DC; }
html.dark #__next .MuiPagination-ul .Mui-selected { color: #FFFFFF; background-color: #3C4043; }
html.dark #__next .MuiPagination-ul .Mui-selected:hover { background-color: #646568; }
#__next .MuiPaginationItem-root { color: #202124; }
html.dark #__next .MuiPaginationItem-root { color: #FFFFFF; }

/* Color picker */
.color-picker .rcp-root {
    width: 320px;
    overflow: hidden;
}
.color-picker .rcp-body {
    padding: 16px 20px;
    gap: 16px;
    background-color: #35363A;
}
.color-picker .rcp-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.color-picker .rcp-fields .rcp-fields-floor {
    width: 50%;
    display: flex;
}
.color-picker .rcp-fields .rcp-fields-floor label {
    font-size: 14px;
    margin-top: 4px;
    color: #B1B2B6;
}
.color-picker .rcp-body .rcp-field-input {
    border: 1px solid;
    border-color: #646568;
}
#text-color-picker + label .same-sourc,
#bg-color-picker + label .same-source { top: -42px; }
#text-color-picker:checked + label .same-source,
#bg-color-picker:checked + label .same-source { display: none; }

@media screen and (max-width: 1024px) {
    .color-picker .rcp-root { width: 240px; }
    .color-picker .rcp-fields .rcp-fields-floor label { font-size: 12px; }
}

/* Mail animation */
.letter-image {
    width: 200px;
    height: 300px;
}
.animated-mail {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 100px;
    animation: animatedMail 0.4s 0.4s both;
}
.animated-mail .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #1B73E7 transparent;
    z-index: 2;
}
html.dark .animated-mail .body {
    border-color: transparent transparent #99acdc transparent;
}
.animated-mail .top-fold {
    position: absolute;
    top: 51px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    border-color: #003F7D transparent transparent transparent;
    z-index: 2;
    animation: topFold 0.4s 0.4s both;
}
html.dark .animated-mail .top-fold {
    border-color: #6682ca transparent transparent transparent;
}
.animated-mail .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #003F7D;
    z-index: 0;
}
html.dark .animated-mail .back-fold {
    background: #6682ca;
}
.animated-mail .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #006AE2;
    z-index: 2;
}
html.dark .animated-mail .left-fold {
    border-color: transparent transparent transparent #8097d3;
}
.animated-mail .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    animation: letter 0.4s 0.6s both;
}
.animated-mail .letter .letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #1B73E7, #1B73E7 8px, transparent 8px, transparent 18px);
}
html.dark .animated-mail .letter .letter-border {
    background: repeating-linear-gradient(-45deg, #6682ca, #6682ca 8px, transparent 8px, transparent 18px);
}
.animated-mail .letter .letter-title {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 40%;
    background: #1B73E74D;
}
html.dark .animated-mail .letter .letter-title {
    background: #6682CA4D;
}
.animated-mail .letter .letter-context {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 20%;
    background: #1B73E74D;
}
html.dark .animated-mail .letter .letter-context {
    background: #6682CA4D;
}
.animated-mail .letter .letter-stamp {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: #1B73E7;
    opacity: 0.3;
}
html.dark .animated-mail .letter .letter-stamp {
    background: #6682ca;
}
.letter-image:hover .animated-mail .letter {
    height: 180px;
}
@keyframes animatedMail {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
    }
}
@keyframes topFold {
    0% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        z-index: 2;
    }
    50% {
        z-index: 0;
    }
    100% {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        z-index: 0;
    }
}
@keyframes letter {
    0% { height: 60px; }
    100% { height: 180px; }
}

/* 검색 결과 active 상태일 때 스타일 정의 */
@media (hover: hover) and (pointer: fine) {
    #active { background-color: #FCBE11; }
    #active .when-active-1 { background-color: #35363A; border-color: #35363A; }
    #active .when-active-2 { color: #FCBE11; }
    #active .when-active-3 { color: #35363A; }
    #active .when-active-4 { color: #4C4D50; }
    #active .when-active-5 { color: #4C4D50; }
    #active .when-active-6 { color: #35363A; }
    html.dark #active { background-color: #8AB4F8; }
    html.dark #active .when-active-1 { background-color: #17181B; border-color: #17181B; }
    html.dark #active .when-active-2 { color: #8AB4F8; }
    html.dark #active .when-active-3 { color: #17181B; }
    html.dark #active .when-active-4 { color: #35363A; }
    html.dark #active .when-active-5 { color: #35363A; }
    html.dark #active .wㄴhen-active-6 { color: #17181B; }
}

/* 툴팁 호버 이벤트 */
.tooltip { font-family: "Spoqa Han Sans Neo", sans-serif; }
.tooltip::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 8px;
    height: 8px;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%) rotate(45deg);
}

/* 라이센스 본문 링크 */
#license a { text-decoration: underline; }

/* 댓글 활성화 */
.edit-btn-enabled { background-color: #FCBE11CC; color: #4C4D50; cursor: pointer }
.edit-btn-enabled:hover { background-color: #FCBE11; }
html.dark .edit-btn-enabled { background-color: #8AB4F8; color: #202124; }
html.dark .edit-btn-enabled:hover { background-color: #8AB4F8E6; }