@font-face {
    font-family: 'Cafe24 Supermagic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./Cafe24Supermagic-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Cafe24 Supermagic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./Cafe24Supermagic-Bold.woff2') format('woff2');
}
