@font-face {
    font-family: 'Dalseo Healing';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./DalseoHealing-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Dalseo Healing';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./DalseoHealing-Bold.woff2') format('woff2');
}
