@font-face {
    font-family: 'CookieRun';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./CookieRun-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'CookieRun';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./CookieRun-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'CookieRun';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('./CookieRun-Black.woff2') format('woff2');
}
