@font-face {
    font-family: 'Beanpole';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Beanpole-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Beanpole';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Beanpole-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Beanpole';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Beanpole-Bold.woff2') format('woff2');
}
