@font-face {
    font-family: 'KoPub Batang';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./KoPubBatang-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'KoPub Batang';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./KoPubBatang-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'KoPub Batang';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./KoPubBatang-Bold.woff2') format('woff2');
}
