@font-face {
    font-family: 'Hahmlet';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('./Hahmlet-Black.woff2') format('woff2');
}
