@font-face {
    font-family: 'Maru Buri';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('./MaruBuri-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Maru Buri';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./MaruBuri-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Maru Buri';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./MaruBuri-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Maru Buri';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./MaruBuri-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Maru Buri';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./MaruBuri-Bold.woff2') format('woff2');
}
