@font-face {
    font-family: 'SUITE';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./SUITE-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./SUITE-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./SUITE-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./SUITE-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./SUITE-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./SUITE-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('./SUITE-Heavy.woff2') format('woff2');
}
