@font-face {
    font-family: 'Ansungtangmyun ESG';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/fonts-archive-ansungtangmyun-esg/AnsungtangmyunESG.woff2') format('woff2');
}
