@font-face {
    font-family: 'Climate Crisis KR';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('./ClimateCrisisKR-2050.woff2') format('woff2');
}
@font-face {
    font-family: 'Climate Crisis KR';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./ClimateCrisisKR-2040.woff2') format('woff2');
}
@font-face {
    font-family: 'Climate Crisis KR';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./ClimateCrisisKR-2030.woff2') format('woff2');
}
@font-face {
    font-family: 'Climate Crisis KR';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./ClimateCrisisKR-2019.woff2') format('woff2');
}
@font-face {
    font-family: 'Climate Crisis KR';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./ClimateCrisisKR-2010.woff2') format('woff2');
}
@font-face {
    font-family: 'Climate Crisis KR';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./ClimateCrisisKR-2000.woff2') format('woff2');
}
@font-face {
    font-family: 'Climate Crisis KR';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./ClimateCrisisKR-1990.woff2') format('woff2');
}
@font-face {
    font-family: 'Climate Crisis KR';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('./ClimateCrisisKR-1979.woff2') format('woff2');
}
