@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./NEXONLv1Gothic-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./NEXONLv1Gothic-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'NEXON Lv1 Gothic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./NEXONLv1Gothic-Bold.woff2') format('woff2');
}
