@font-face {
    font-family: 'KoPub Dotum';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./KoPubDotum-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'KoPub Dotum';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./KoPubDotum-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'KoPub Dotum';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./KoPubDotum-Bold.woff2') format('woff2');
}
