@font-face {
    font-family: 'KoddiUD OnGothic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./KoddiUDOnGothic-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'KoddiUD OnGothic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./KoddiUDOnGothic-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'KoddiUD OnGothic';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./KoddiUDOnGothic-ExtraBold.woff2') format('woff2');
}
