/* 리셋 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    transition: 0.2s;
}

body::-webkit-scrollbar {
    display: none;
}

body.fixed {
    overflow: auto;
}

body.fixed .side_menu {
    overflow-y: scroll;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

/* 스타일 */

.wrap {
    width: 100%;
    font-family: "Noto Sans KR";
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.side_menu {
    width: 280px;
    min-height: 100vh;
    height: 100%;
    padding: 20px;
    padding-bottom: 40px;
    border-right: 1px solid;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    overflow-y: scroll;
    transition: 0.2s;
}

.side_menu::-webkit-scrollbar {
    display: none;
}

.wrap.expand .side_menu {
    left: 0;
}

.wrap.shrink .side_menu {
    left: -280px;
}

.wrap.expand .side_menu .expand_btn_wrap {
    right: 12px;
    border: 1px solid transparent;
}

.wrap.shrink .side_menu .expand_btn_wrap {
    position: fixed;
    z-index: 20;
    left: 12px;
}

.side_menu_scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side_menu .title {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 0.2s;
}

.side_menu .title svg {
    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.side_menu .search_bar {
    width: 100%;
    position: relative;
}

.side_menu .search_bar input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 16px 20px;
    padding-left: 44px;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    transition: 0.2s;
}

.side_menu .search_bar svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.side_menu .font_list {
    width: 100%;
    margin-top: 20px;
}

.side_menu .font_list .font_name {
    display: block;
    font-size: 14px;
    padding: 6px 5%;
    margin-bottom: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.side_menu .font_list .font_name:last-of-type {
    margin-bottom: 0;
}

.side_menu .font_list .font_filtered {
    font-size: 16px;
    font-weight: 500;
    padding: 6px 5%;
    transition: 0.2s;
}

.side_menu .font_list .font_filtered span {
    font-size: 14px;
    font-weight: 400;
}

.side_menu .expand_btn_wrap {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: 0.2s;
}

.side_menu .expand_btn_wrap input {
    display: none;
}

.side_menu .expand_btn_wrap label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.side_menu .expand_btn_wrap label svg {
    width: 18px;
    height: 18px;
    transition: 0.2s;
}

.main_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main_menu .main_menu_fixed {
    padding: 20px;
    padding-bottom: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    transition: 0.2s;
}

.wrap.expand .main_menu .main_menu_fixed {
    width: calc(100% - 280px);
}

.wrap.shrink .main_menu .main_menu_fixed {
    width: 100%;
    z-index: 2;
}

.main_menu .search_bar {
    width: 100%;
    position: relative;
}

.main_menu .search_bar input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 16px 20px;
    padding-left: 52px;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    transition: 0.2s;
}

.main_menu .search_bar svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.main_menu .category {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
}

.main_menu .category .category_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.main_menu .category .category_2, .main_menu .category .category_4 {
    margin-left: 8px;
}

.main_menu .category input {
    display: none;
}

.main_menu .category_box {
    position: relative;
}

.main_menu .category_box > label {
    height: 34.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border: 1px solid;
    border-radius: 40px;
    font-size: 14px;
    line-height: 1.25;
    transition: 0.2s;
    cursor: pointer;
}

.main_menu .category_box > label svg {
    width: 8px;
    transform: rotate(180deg);
    margin-left: 12px;
    transition: 0.2s;
}

.main_menu .category_box > input ~ .category_option {
    width: 128px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    z-index: 2;
    left: -5px;
    top: 44px;
    border-radius: 12px;
    border: 1px solid;
    padding: 22px 16px;
}

.main_menu .category_box.category_3 > input ~ .category_option {
    width: 114px;
}

.main_menu .category_box.category_4 > input ~ .category_option {
    width: 166px;
}

.main_menu .category_box > input ~ .category_option.fade_in {
    animation-name: fade_in;
    animation-delay: 0s;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.main_menu .category_box > input:checked ~ .category_option {
    display: flex;
    transition: 0.2s;
}

.main_menu .category_box > input ~ .category_option.fade_in {
    animation-name: fade_in;
    animation-delay: 0s;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.main_menu .category_box > input:checked ~ .category_option {
    display: flex;
    transition: 0.2s;
}

.main_menu .category_box input ~ .category_option .chk_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.main_menu .category_box input ~ .category_option .chk_box:last-of-type {
    margin-bottom: 0;
}

.main_menu .category_box input ~ .category_option svg {
    width: 18px;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.main_menu .category_box input ~ .category_option span {
    font-size: 14px;
    line-height: 1.25;
    transition: 0.2s;
}

.main_menu .category_option input + div label .chk_btn { display: block; }
.main_menu .category_option input:checked + div label .chk_btn { display: none; }

.main_menu .category_option input + div label .chk_fill_btn { display: none; }
.main_menu .category_option input:checked + div label .chk_fill_btn { display: block; }

.main_menu .category .divider {
    width: 1px;
    height: 20px;
    border-radius: 40px;
    margin: 0 14px;
    transition: 0.2s;
}

.main_menu .font_area_wrap {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    margin-top: 138px;
    padding-right: 20px;
    transition: 0.2s;
}

.wrap.expand .main_menu .font_area_wrap {
    padding-left: 300px;
}

.wrap.shrink .main_menu .font_area_wrap {
    padding-left: 20px;
}

.main_menu .font_area_wrap::-webkit-scrollbar {
    display: none;
}

/* Loading bar */
.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    margin-bottom: 22px;
    position: relative;
    transform: translateX(120px);
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

.wrap.expand .loader {
    transform: translateX(120px);
}

.wrap.shrink .loader {
    transform: translateX(0);
}

.no_loader {
    margin-bottom: 10px;
}
  
@keyframes animloader {
    0% {
      box-shadow: 12px 0 0 -2px,  36px 0 0 -2px,  -12px 0 0 -2px,  -36px 0 0 -2px;
    }
    25% {
      box-shadow: 12px 0 0 -2px,  36px 0 0 -2px,  -12px 0 0 -2px,  -36px 0 0 2px;
    }
    50% {
      box-shadow: 12px 0 0 -2px,  36px 0 0 -2px,  -12px 0 0 2px,  -36px 0 0 -2px;
    }
    75% {
      box-shadow: 12px 0 0 2px,  36px 0 0 -2px,  -12px 0 0 -2px,  -36px 0 0 -2px;
    }
    100% {
      box-shadow: 12px 0 0 -2px,  36px 0 0 2px,  -12px 0 0 -2px,  -36px 0 0 -2px;
    }
}

@keyframes animloader_m {
    0% {
      box-shadow: 10px 0 0 -2px,  30px 0 0 -2px,  -10px 0 0 -2px,  -30px 0 0 -2px;
    }
    25% {
      box-shadow: 10px 0 0 -2px,  30px 0 0 -2px,  -10px 0 0 -2px,  -30px 0 0 2px;
    }
    50% {
      box-shadow: 10px 0 0 -2px,  30px 0 0 -2px,  -10px 0 0 2px,  -30px 0 0 -2px;
    }
    75% {
      box-shadow: 10px 0 0 2px,  30px 0 0 -2px,  -10px 0 0 -2px,  -30px 0 0 -2px;
    }
    100% {
      box-shadow: 10px 0 0 -2px,  30px 0 0 2px,  -10px 0 0 -2px,  -30px 0 0 -2px;
    }
}

.main_menu .font_area_divider {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    transition: 0.2s;
}

.main_menu .font_box {
    width: calc(33.3% - 8px);
    min-height: 240px;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.main_menu .font_box_empty {
    width: calc(33.3% - 8px);
}

.main_menu .font_name {
    font-size: 18px;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 8px;
    transition: 0.2s;
}

.main_menu .font_box .font_info_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.main_menu .font_box .font_info_wrap div {
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    margin-right: 8px;
    transition: 0.2s;
}

.main_menu .font_box .font_info_wrap div span {
    transition: 0.2s;
}

.main_menu .font_box .font_text {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 400;
    transition: 0.2s;
}

.font_detail_page_wrap .close_btn {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.font_detail_page_wrap {
    padding: 32px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s;
}

.wrap.expand .font_detail_page_wrap {
    width: calc(100% - 280px);
}

.wrap.shrink .font_detail_page_wrap {
    width: 100%;
}

.font_detail_page_divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    transition: 0.2s;
}

.font_detail_page_wrap .font_name {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 12px;
    transition: 0.2s;
}

.font_detail_page_wrap .font_source, .font_detail_page_wrap .type_face {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    transition: 0.2s;
    margin-right: 16px;
}

.font_detail_page_wrap .font_source span, .font_detail_page_wrap .type_face span {
    font-weight: 500;
    margin-right: 8px;
    transition: 0.2s;
}

.font_detail_page {
    width: 100%;
}

.download_btn_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
}

.source_btn, .download_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid;
    padding-bottom: 2px;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}

.source_btn {
    width: auto;
    min-width: 180px;
    padding: 0 20px;
    padding-bottom: 2px;
}

.main_menu .font_box.fade_in {
    animation-name: fade_in;
    animation-delay: 0.2s;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.font_detail_page_wrap .cdn_wrap {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
}

.cdn_wrap input {
    display: none;
}

.cdn_wrap input + label {
    width: 25%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-left: 1px solid;
    border-top: 1px solid;
    cursor: pointer;
    transition: 0.2s;
}

.cdn_wrap input:nth-of-type(1) + label {
    border-radius: 8px 0 0 0;
}

.cdn_wrap input:nth-of-type(4) + label {
    border-radius: 0 8px 0 0;
    border-right: 1px solid;
}

.cdn_wrap input:nth-of-type(1):checked ~ .cdn_code_wrap .cdn_code_css { display: flex; }
.cdn_wrap input:nth-of-type(1):checked ~ .cdn_code_wrap .cdn_code_link { display: none; }
.cdn_wrap input:nth-of-type(1):checked ~ .cdn_code_wrap .cdn_code_import { display: none; }
.cdn_wrap input:nth-of-type(1):checked ~ .cdn_code_wrap .cdn_code_font_face { display: none; }

.cdn_wrap input:nth-of-type(2):checked ~ .cdn_code_wrap .cdn_code_css { display: none; }
.cdn_wrap input:nth-of-type(2):checked ~ .cdn_code_wrap .cdn_code_link { display: flex; }
.cdn_wrap input:nth-of-type(2):checked ~ .cdn_code_wrap .cdn_code_import { display: none; }
.cdn_wrap input:nth-of-type(2):checked ~ .cdn_code_wrap .cdn_code_font_face { display: none; }

.cdn_wrap input:nth-of-type(3):checked ~ .cdn_code_wrap .cdn_code_css { display: none; }
.cdn_wrap input:nth-of-type(3):checked ~ .cdn_code_wrap .cdn_code_link { display: none; }
.cdn_wrap input:nth-of-type(3):checked ~ .cdn_code_wrap .cdn_code_import { display: flex; }
.cdn_wrap input:nth-of-type(3):checked ~ .cdn_code_wrap .cdn_code_font_face { display: none; }

.cdn_wrap input:nth-of-type(4):checked ~ .cdn_code_wrap .cdn_code_css { display: none; }
.cdn_wrap input:nth-of-type(4):checked ~ .cdn_code_wrap .cdn_code_link { display: none; }
.cdn_wrap input:nth-of-type(4):checked ~ .cdn_code_wrap .cdn_code_import { display: none; }
.cdn_wrap input:nth-of-type(4):checked ~ .cdn_code_wrap .cdn_code_font_face { display: flex; }

.font_detail_page_wrap .font_detail_page_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 20px;
    transition: 0.2s;
}

.cdn_wrap .cdn_code_wrap {
    width: 100%;
    position: relative;
}

.cdn_wrap .cdn_code {
    width: 100%;
    height: 72px;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid;
    border: 1px solid;
    padding: 0 32px;
    padding-right: 66px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
}

.cdn_wrap .cdn_code > div {
    white-space: nowrap;
    overflow-x: auto;
    transition: 0.2s;
}

.cdn_wrap .cdn_code > div::-webkit-scrollbar {
    display: none;
}

.cdn_wrap .cdn_code pre {
    font-family: "Monospace";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2px;
    padding-top: 2px;
    cursor: text;
}

.cdn_wrap .cdn_code svg {
    width: 32px;
    height: 32px;
    padding: 8px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.2s;
}

.cdn_wrap .cdn_code .copy_chk_btn {
    display: none;
}

.cdn_wrap .cdn_code.cdn_code_font_face {
    height: auto;
    min-height: 72px;
    padding: 22px 32px;
    padding-right: 66px;
}

.cdn_wrap .cdn_code.cdn_code_font_face > div {
    white-space: initial;
}

.cdn_wrap .cdn_code.cdn_code_font_face svg {
    top: 19px;
    transform: translateY(0);
}

.font_detail_page_wrap .font_weight_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 60px;
}

.font_detail_page_wrap input.font_weight_change {
    display: block;
}

.font_detail_page_wrap .font_weight_change {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 16px 20px;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    margin-bottom: 32px;
    transition: 0.2s;
}

.font_detail_page_wrap .font_weight_title {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 24px;
    transition: 0.2s;
}

.font_detail_page_wrap .font_weight_txt {
    width: 100%;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid;
    transition: 0.2s;
}

.font_detail_page_wrap .font_weight_txt:last-of-type {
    margin-bottom: 0;
}

.font_detail_page_wrap .font_size_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
}

.font_detail_page_wrap .font_size_wrap div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.font_detail_page_wrap .font_size_wrap div:last-of-type {
    margin-bottom: 0;
}

.font_detail_page_wrap .font_size_wrap h2 {
    display: inline-block;
    width: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    padding-right: 16px;
    transition: 0.2s;
}

.font_detail_page_wrap .font_size_wrap h3 {
    width: auto;
    font-weight: 400;
    line-height: 1.25;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 0.2s;
}

.font_detail_page_wrap .font_size_wrap .font_size_10 { font-size: 10px; }
.font_detail_page_wrap .font_size_wrap .font_size_12 { font-size: 12px; }
.font_detail_page_wrap .font_size_wrap .font_size_14 { font-size: 14px; }
.font_detail_page_wrap .font_size_wrap .font_size_16 { font-size: 16px; }
.font_detail_page_wrap .font_size_wrap .font_size_18 { font-size: 18px; }
.font_detail_page_wrap .font_size_wrap .font_size_20 { font-size: 20px; }
.font_detail_page_wrap .font_size_wrap .font_size_24 { font-size: 24px; }
.font_detail_page_wrap .font_size_wrap .font_size_28 { font-size: 28px; }
.font_detail_page_wrap .font_size_wrap .font_size_32 { font-size: 32px; }
.font_detail_page_wrap .font_size_wrap .font_size_36 { font-size: 36px; }
.font_detail_page_wrap .font_size_wrap .font_size_40 { font-size: 40px; }
.font_detail_page_wrap .font_size_wrap .font_size_48 { font-size: 48px; }
.font_detail_page_wrap .font_size_wrap .font_size_56 { font-size: 56px; }
.font_detail_page_wrap .font_size_wrap .font_size_64 { font-size: 64px; }

.font_detail_page_wrap table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;
}

.font_detail_page_wrap table thead {
    border-left: 1px solid;
    border-right: 1px solid;
    transition: 0.2s;
}

.font_detail_page_wrap table tbody {
    border-left: 1px solid;
    border-right: 1px solid;
    transition: 0.2s;
}

.font_detail_page_wrap table tr {
    height: 60px;
    border-bottom: 1px solid;
    transition: 0.2s;
}

.font_detail_page_wrap table th {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    border-right: 1px solid;
    transition: 0.2s;
}

.font_detail_page_wrap table th:nth-of-type(1) {
    width: 200px;
}

.font_detail_page_wrap table th:nth-of-type(2) {
    width: calc(100% - 400px);
}

.font_detail_page_wrap table th:last-of-type {
    width: 200px;
    border-right: none;
}

.font_detail_page_wrap table td {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    border-right: 1px solid;
    padding: 20px;
    transition: 0.2s;
}

.font_detail_page_wrap table tr td:last-of-type {
    border-right: none;
}

.font_detail_page_wrap table tr td svg {
    width: 16px;
    height: 16px;
    transition: 0.2s;
}

.profile_fixed {
    position: fixed;
    z-index: 5;
    right: 28px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile_fixed input {
    display: none;
}

.profile_fixed_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.profile_fixed_btn svg {
    width: 18px;
    height: 18px;
    transition: 0.2s;
}

.profile_fixed_tooltip {
    width: max-content;
    height: 40px;
    border-radius: 12px;
    position: absolute;
    right: 56px;
    top: 50%;
    transform: translateX(0px) translateY(-50%);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 0 20px;
    padding-bottom: 1px;
    transition: 0.2s;
}

.profile_fixed_tooltip::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    transition: 0.2s;
}

@media (hover: hover) and (pointer: fine) {
    .profile_fixed_btn:hover .profile_fixed_tooltip {
        display: flex;
        animation-name: tooltip_fade_in;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

/* 애니메이션 */
@keyframes fade_in {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes tooltip_fade_in {
    from {
        opacity: 0;
        transform: translate(0px) translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translate(-4px) translateY(-50%);
    }
}

/* 브라잇 모드 */

.bright_mode {
    background-color: #E9EAEE;
}

.bright_mode .loader {
    color: #35363A;
}

.bright_mode .side_menu {
    border-color: #CDCED2;
    background-color: #E9EAEE;
}

.bright_mode .side_menu .title {
    background-color: #DEE1E6;
}

.bright_mode .side_menu .title svg {
    fill: #636568;
}

.bright_mode .side_menu .search_bar input, .bright_mode .main_menu .search_bar input {
    border-color: #CDCED2;
    background-color: #E9EAEE;
    color: #636568;
}

.bright_mode .side_menu .search_bar input::placeholder, .bright_mode .main_menu .search_bar input::placeholder {
    color: #97989C;
}

.bright_mode .side_menu .search_bar svg, .bright_mode .main_menu .search_bar svg {
    fill: #636568;
}

.bright_mode .side_menu .font_list .font_name {
    color: #636568;
}

.bright_mode .side_menu .font_list .font_filtered {
    color: #4C4D50;
}

@media (hover: hover) and (pointer: fine) {
    .bright_mode .side_menu .font_list .font_name {
        transition: 0.2s;
    }
    .bright_mode .side_menu .font_list .font_name:hover {
        background-color: #DEE1E6;
    }
    .bright_mode .side_menu .search_bar input:hover, .bright_mode .main_menu .search_bar input:hover {
        background-color: #DEE1E6;
    }
    .bright_mode .side_menu .search_bar input:focus, .bright_mode .main_menu .search_bar input:focus {
        background-color: #DEE1E6;
    }
}

@media (hover: hover) and (pointer: fine) {
    .bright_mode .side_menu .expand_btn_wrap {
        transition: 0.2s;
    }
    .bright_mode .side_menu .expand_btn_wrap:hover {
        background-color: #DEE1E6;
    }
    .bright_mode .wrap.shrink .side_menu .expand_btn_wrap:hover {
        background-color: #DEE1E6;
    }
}

.bright_mode .side_menu .expand_btn_wrap {
    background-color: #E9EAEE;
}

.bright_mode .side_menu .expand_btn_wrap label svg {
    fill: #35363A;
}

.bright_mode .wrap.shrink .side_menu .expand_btn_wrap {
    border: 1px solid #CDCED2;
}

.bright_mode .main_menu .main_menu_fixed {
    background-color: #E9EAEEF0;
}

.bright_mode .main_menu .category_box > input + label {
    background-color: #E9EAEE;
    border-color: #CDCED2;
    color: #636568;
}

.bright_mode .main_menu .category_box > input:checked + label {
    background-color: #DDE0E9;
    border-color: #1a73e8;
    color: #35363A;
    filter: drop-shadow(1px 2px 4px #97989C);
}

.bright_mode .main_menu .category_box > input + label svg {
    fill: #636568;
}

.bright_mode .main_menu .category_box > input:checked + label svg {
    fill: #35363A;
}

@media (hover: hover) and (pointer: fine) {
    .bright_mode .main_menu .category_box > input + label:hover {
        border-color: #1a73e8;
        background-color: #DDE0E9;
        color: #35363A;
    }

    .bright_mode .main_menu .category_box > input + label:hover svg {
        fill: #35363A;
    }
}

.bright_mode .main_menu .category_box input ~ .category_option {
    background-color: #DDE0E9;
    border-color: #1a73e8;
    filter: drop-shadow(1px 2px 4px #636568);
}

.bright_mode .main_menu .category_box input ~ .category_option svg {
    fill: #1a73e8;
}

.bright_mode .main_menu .category_box input ~ .category_option span {
    color: #35363A;
}

.bright_mode .main_menu .category .divider {
    background-color: #CDCED2;
}

.bright_mode .main_menu .category_2 label {
    background-color: #E9EAEE;
    border-color: #CDCED2;
    color: #97989C;
}

.bright_mode .main_menu .category_2 input:checked + label {
    background-color: #D1D5E4;
    border-color: #1a73e8;
    color: #35363A;
}

.bright_mode .main_menu .category_2 label::selection {
    background-color: transparent;
}

.bright_mode .main_menu .font_area_divider {
    background-color: #E9EAEE;
}

.bright_mode .main_menu .font_box {
    border-color: #CDCED2;
    background-color: #E9EAEE;
}

@media (hover: hover) and (pointer: fine) {
    .bright_mode .main_menu .font_box {
        transition: 0.2s;
    }
    .bright_mode .main_menu .font_box:hover {
        background-color: #DEE1E6;
    }
}

.bright_mode .main_menu .font_name {
    color: #35363A;
}

.bright_mode .main_menu .font_box .font_info_wrap div {
    color: #97989C;
}

.bright_mode .main_menu .font_box .font_info_wrap div span {
    color: #646568;
}

.bright_mode .main_menu .font_box .font_text {
    color: #35363A;
}

.bright_mode .font_detail_page_wrap .close_btn {
    fill: #35363A;
}

.bright_mode .font_detail_page_wrap .source_btn {
    border-color: #1A73E8;
    color: #1A73E8;
}

.bright_mode .font_detail_page_wrap .download_btn {
    border-color: #35363A;
    color: #35363A;
}

@media (hover: hover) and (pointer: fine) {
    .bright_mode .font_detail_page_wrap .close_btn {
        transition: 0.2s;
    }
    .bright_mode .font_detail_page_wrap .close_btn:hover {
        background-color: #DEE1E6;
    }

    .bright_mode .font_detail_page_wrap .source_btn:hover {
        background-color: #1A73E81A;
    }
    .bright_mode .font_detail_page_wrap .download_btn:hover {
        background-color: #35363A1A;
    }
}

.bright_mode .main_menu .font_box label {
    color: #35363A;
}

.bright_mode .cdn_wrap input + label {
    background-color: transparent;
    border-color: #CDCED2;
    color: #35363A;
}
@media (hover: hover) and (pointer: fine) {
    .bright_mode .cdn_wrap input + label:hover {
        background-color: #DEE1E6;
    }
}

.bright_mode .cdn_wrap input:checked + label {
    background-color: #35363A;
    border-color: #35363A;
    color: #E9EAEE;
}

.bright_mode .cdn_wrap .cdn_code {
    background-color: #DEE1E6;
    border-color: #CDCED2;
}

.bright_mode .cdn_wrap .cdn_code > div {
    color: #4C4D50;
}

.bright_mode .font_detail_page_divider {
    background-color: #CDCED2;
}

.bright_mode .font_detail_page_wrap .font_name {
    color: #4C4D50;
}

.bright_mode .font_detail_page_wrap .font_source, .bright_mode .font_detail_page_wrap .type_face {
    color: #97989C;
}

.bright_mode .font_detail_page_wrap .font_source span, .bright_mode .font_detail_page_wrap .type_face span {
    color: #636568;
}

.bright_mode .font_detail_page_wrap .font_detail_page_title {
    color: #4C4D50;
}

.bright_mode .cdn_wrap .cdn_code svg {
    fill: #636568;
}
.bright_mode .cdn_wrap .cdn_code svg.copy_chk_btn {
    fill: #1A73E8;
}
@media (hover: hover) and (pointer: fine) {
    .bright_mode .cdn_wrap .cdn_code svg:hover {
        fill: #1A73E8;
    }
}

.bright_mode .font_detail_page_wrap .font_weight_title {
    color: #35363A;
}

.bright_mode .font_detail_page_wrap .font_weight_txt {
    color: #35363A;
    border-color: #CDCED2;
}

.bright_mode .font_detail_page_wrap .font_size_wrap h2 {
    color: #636568;
}

.bright_mode .font_detail_page_wrap .font_size_wrap h3 {
    color: #35363A;
    border-color: #CDCED2;
}

.bright_mode .font_detail_page_wrap table thead {
    border-color: #35363A;
}

.bright_mode .font_detail_page_wrap table tbody {
    border-color: #CDCED2;
}

.bright_mode .font_detail_page_wrap table tr {
    border-color: #CDCED2;
}

.bright_mode .font_detail_page_wrap table th {
    background-color: #35363A;
    border-color: #4C4D50;
    color: #E9EAEE;
}

.bright_mode .font_detail_page_wrap table td {
    border-color: #CDCED2;
    color: #35363A;
}

.bright_mode .font_detail_page_wrap table td svg {
    fill: #35363A;
}

.bright_mode .font_detail_page_wrap .font_weight_change {
    border-color: #CDCED2;
    color: #636568;
}
@media (hover: hover) and (pointer: fine) {
    .bright_mode .font_detail_page_wrap .font_weight_change:hover, .bright_mode .font_detail_page_wrap .font_weight_change:focus {
        background-color: #DEE1E6;
    }
}

.bright_mode .font_detail_page_wrap .font_weight_change::placeholder {
    color: #97989C;
}

.bright_mode .profile_fixed_btn {
    background-color: #E9EAEE;
    filter: drop-shadow(1px 2px 4px #636568);
}

.bright_mode .profile_fixed_btn svg {
    fill: #35363A;
}

.bright_mode .profile_fixed_tooltip {
    background-color: #E9EAEE;
    color: #36363A;
    filter: drop-shadow(1px 2px 4px #97989C);
}

.bright_mode .profile_fixed_tooltip::before {
    background-color: #E9EAEE;
}

/* 나잇 모드 */

.night_mode {
    background-color: #202124;
}

.night_mode .loader {
    color: #E9EAEE;
}

.night_mode .side_menu {
    background-color: #202124;
    border-color: #4C4D50;
}

.night_mode .side_menu .title {
    background-color: #35363A;
}

.night_mode .side_menu .title svg {
    fill: #CDCED2;
}

.night_mode .side_menu .search_bar input, .night_mode .main_menu .search_bar input {
    border-color: #4C4D50;
    background-color: #202124;
    color: #CDCED2;
}

.night_mode .side_menu .search_bar input::placeholder, .night_mode .main_menu .search_bar input::placeholder {
    color: #97989C;
}

.night_mode .side_menu .search_bar svg, .night_mode .main_menu .search_bar svg {
    fill: #CDCED2;
}

.night_mode .side_menu .font_list .font_name {
    color: #CDCED2;
}

.night_mode .side_menu .font_list .font_filtered {
    color: #DEE1E6;
}

@media (hover: hover) and (pointer: fine) {
    .night_mode .side_menu .font_list .font_name {
        transition: 0.1s;
    }
    .night_mode .side_menu .font_list .font_name:hover {
        background-color: #35363A;
    }
    .night_mode .side_menu .search_bar input:hover, .night_mode .main_menu .search_bar input:hover {
        background-color: #35363A66;
    }
    .night_mode .side_menu .search_bar input:focus, .night_mode .main_menu .search_bar input:focus {
        background-color: #35363A66;
    }
}

@media (hover: hover) and (pointer: fine) {
    .night_mode .side_menu .expand_btn_wrap {
        transition: 0.2s;
    }
    .night_mode .side_menu .expand_btn_wrap:hover {
        background-color: #35363A;
    }
    .night_mode .wrap.shrink .side_menu .expand_btn_wrap:hover {
        background-color: #35363A;
    }
}

.night_mode .side_menu .expand_btn_wrap {
    background-color: #202124;
}

.night_mode .side_menu .expand_btn_wrap label svg {
    fill: #CDCED2;
}

.night_mode .wrap.shrink .side_menu .expand_btn_wrap {
    border: 1px solid #4C4D50;
}

.night_mode .main_menu .main_menu_fixed {
    background-color: #202124F0;
}

.night_mode .main_menu .category_box > input + label {
    background-color: #202124;
    border-color: #636568;
    color: #CDCED2;
}

.night_mode .main_menu .category_box > input:checked + label {
    background-color: #1A1E25;
    border-color: #8ab4f8;
    color: #E9EAEE;
    filter: drop-shadow(1px 2px 4px #101010);
}

.night_mode .main_menu .category_box > input + label svg {
    fill: #CDCED2;
}

.night_mode .main_menu .category_box > input:checked + label svg {
    fill: #E9EAEE;
}

@media (hover: hover) and (pointer: fine) {
    .night_mode .main_menu .category_box > input + label:hover {
        border-color: #8ab4f8;
        background-color: #1A1E25;
        color: #E9EAEE;
    }

    .night_mode .main_menu .category_box > input + label:hover svg {
        fill: #E9EAEE;
    }
}

.night_mode .main_menu .category_box input ~ .category_option {
    background-color: #1A1E25;
    border-color: #8ab4f8;
    filter: drop-shadow(1px 2px 4px #101010);
}

.night_mode .main_menu .category_box input ~ .category_option svg {
    fill: #8ab4f8;
}

.night_mode .main_menu .category_box input ~ .category_option span {
    color: #E9EAEE;
}

.night_mode .main_menu .category .divider {
    background-color: #4C4D50;
}

.night_mode .main_menu .category_2 label {
    background-color: #202124;
    border-color: #636568;
    color: #97989C;
}

.night_mode .main_menu .category_2 input:checked + label {
    background-color: #1A1E25;
    border-color: #8ab4f8;
    color: #E9EAEE;
}

.night_mode .main_menu .category_2 label::selection {
    background-color: transparent;
}

.night_mode .main_menu .font_area_divider {
    background-color: #202124;
}

.night_mode .main_menu .font_box {
    border-color: #4C4D50;
    background-color: #202124;
}

@media (hover: hover) and (pointer: fine) {
    .night_mode .main_menu .font_box {
        transition: 0.2s;
    }
    .night_mode .main_menu .font_box:hover {
        background-color: #35363A;
    }
}

.night_mode .main_menu .font_name {
    color: #DEE1E6;
}

.night_mode .main_menu .font_box .font_info_wrap div {
    color: #97989C;
}

.night_mode .main_menu .font_box .font_info_wrap div span {
    color: #CDCED2;
}

.night_mode .main_menu .font_box .font_text {
    color: #DEE1E6;
}

.night_mode .font_detail_page_wrap .close_btn {
    fill: #DEE1E6;
}

.night_mode .font_detail_page_wrap .source_btn {
    border-color: #8AB4F8;
    color: #8AB4F8;
}

.night_mode .font_detail_page_wrap .download_btn {
    border-color: #CDCED2;
    color: #CDCED2;
}

@media (hover: hover) and (pointer: fine) {
    .night_mode .font_detail_page_wrap .close_btn {
        transition: 0.2s;
    }
    .night_mode .font_detail_page_wrap .close_btn:hover {
        background-color: #35363A;
    }

    .night_mode .font_detail_page_wrap .source_btn:hover {
        background-color: #8AB4F81A;
    }
    .night_mode .font_detail_page_wrap .download_btn:hover {
        background-color: #CDCED21A;
    }
}

.night_mode .main_menu .font_box label {
    color: #DEE1E6;
}

.night_mode .cdn_wrap input + label {
    background-color: transparent;
    border-color: #4C4D50;
    color: #DEE1E6;
}
@media (hover: hover) and (pointer: fine) {
    .night_mode .cdn_wrap input + label:hover {
        background-color: #35363A66;
    }
}

.night_mode .cdn_wrap input:checked + label {
    background-color: #4C4D50;
    border-color: #4C4D50;
    color: #DEE1E6;
}

.night_mode .cdn_wrap .cdn_code {
    background-color: #35363A;
    border-color: #4C4D50;
}

.night_mode .cdn_wrap .cdn_code > div {
    color: #CDCED2;
}

.night_mode .font_detail_page_divider {
    background-color: #4C4D50;
}

.night_mode .font_detail_page_wrap .font_name {
    color: #DEE1E6;
}

.night_mode .font_detail_page_wrap .font_source, .night_mode .font_detail_page_wrap .type_face {
    color: #97989C;
}

.night_mode .font_detail_page_wrap .font_source span, .night_mode .font_detail_page_wrap .type_face span {
    color: #CDCED2;
}

.night_mode .font_detail_page_wrap .font_detail_page_title {
    color: #DEE1E6;
}

.night_mode .cdn_wrap .cdn_code svg {
    fill: #97989C;
}
.night_mode .cdn_wrap .cdn_code svg.copy_chk_btn {
    fill: #8AB4F8;
}
@media (hover: hover) and (pointer: fine) {
    .night_mode .cdn_wrap .cdn_code svg:hover {
        fill: #8AB4F8;
    }
}

.night_mode .font_detail_page_wrap .font_weight_title {
    color: #DEE1E6;
}

.night_mode .font_detail_page_wrap .font_weight_txt {
    color: #DEE1E6;
    border-color: #4C4D50;
}

.night_mode .font_detail_page_wrap .font_size_wrap h2 {
    color: #97989C;
}

.night_mode .font_detail_page_wrap .font_size_wrap h3 {
    color: #DEE1E6;
    border-color: #4C4D50;
}

.night_mode .font_detail_page_wrap table thead {
    border-color: #35363A;
}

.night_mode .font_detail_page_wrap table tbody {
    border-color: #4C4D50;
}

.night_mode .font_detail_page_wrap table tr {
    border-color: #4C4D50;
}

.night_mode .font_detail_page_wrap table th {
    background-color: #35363A;
    border-color: #4C4D50;
    color: #DEE1E6;
}

.night_mode .font_detail_page_wrap table td {
    border-color: #4C4D50;
    color: #DEE1E6;
}

.night_mode .font_detail_page_wrap table td svg {
    fill: #DEE1E6;
}

.night_mode .font_detail_page_wrap .font_weight_change {
    border-color: #4C4D50;
    color: #97989C;
}
@media (hover: hover) and (pointer: fine) {
    .night_mode .font_detail_page_wrap .font_weight_change:hover, .night_mode .font_detail_page_wrap .font_weight_change:focus {
        background-color: #35363A66;
    }
}

.night_mode .font_detail_page_wrap .font_weight_change::placeholder {
    color: #97989C;
}

.night_mode .profile_fixed_btn {
    background-color: #000;
    filter: drop-shadow(1px 2px 4px #101010);
}

.night_mode .profile_fixed_btn svg {
    fill: #CDCED2;
}

.night_mode .profile_fixed_tooltip {
    background-color: #000;
    color: #DEE1E6;
    filter: drop-shadow(1px 2px 4px #101010);
}

.night_mode .profile_fixed_tooltip::before {
    background-color: #000;
}

/* 반응형 */
@media screen and (max-width: 1080px) {
    .side_menu {
        width: 240px;
    }

    .wrap.shrink .side_menu {
        left: -240px;
    }

    .side_menu .title {
        width: 100px;
        height: 100px;
    }

    .side_menu .search_bar input {
        padding: 12px 20px;
        padding-top: 14px;
        padding-left: 44px;
    }

    .side_menu .font_list {
        margin-top: 16px;
    }

    .main_menu .main_menu_fixed {
        padding: 16px 20px;
    }

    .wrap.expand .main_menu .main_menu_fixed {
        width: calc(100% - 240px);
    }

    .main_menu .category {
        margin-top: 10px;
    }

    .main_menu .category .divider {
        margin: 0 10px;
    }

    .main_menu .category_box > label {
        height: 30px;
        padding: 0 14px;
        padding-bottom: 1px;
        font-size: 12px;
    }

    .main_menu .category .category_2, .main_menu .category .category_4 {
        margin-left: 6px;
    }

    .main_menu .category_box.category_3 > input ~ .category_option {
        width: 92px;
    }

    .main_menu .category_box.category_4 > input ~ .category_option {
        width: 140px;
    }

    .main_menu .category_box > label svg {
        width: 6px;
    }

    .main_menu .category_box > input ~ .category_option {
        width: 106px;
        top: 38px;
        padding: 16px 14px;
    }

    .main_menu .category_box input ~ .category_option svg {
        width: 14px;
        margin-right: 8px;
    }

    .main_menu .category_box input ~ .category_option .chk_box {
        margin-bottom: 12px;
    }

    .main_menu .category_box input ~ .category_option span {
        font-size: 12px;
    }

    .main_menu .font_area_wrap {
        margin-top: 124px;
        padding-right: 20px;
    }

    .wrap.expand .main_menu .font_area_wrap {
        padding-left: 260px;
    }

    .wrap.shrink .main_menu .font_area_wrap {
        padding-left: 20px;
    }

    /* Loading bar */
    .loader {
        width: 8px;
        height: 8px;
        animation: animloader_m 2s linear infinite;
    }

    .main_menu .font_box {
        width: calc(50% - 6px);
        min-height: 200px;
        padding: 16px;
    }

    .main_menu .font_name {
        margin-bottom: 4px;
    }
    
    .main_menu .font_box .type_face {
        margin-bottom: 12px;
    }

    .main_menu .font_box .font_text {
        font-size: 20px;
    }

    .wrap.expand .font_detail_page_wrap {
        width: calc(100% - 240px);
    }

    .font_detail_page_wrap .close_btn {
        right: 20px;
        width: 36px;
        height: 36px;
    }

    .font_detail_page_wrap .font_name {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .font_detail_page_wrap .font_source, .font_detail_page_wrap .type_face {
        font-size: 14px;
        margin-right: 14px;
    }

    .font_detail_page_wrap .font_source span, .font_detail_page_wrap .type_face span {
        margin-right: 6px;
    }

    .font_detail_page_divider {
        margin: 20px 0;
    }

    .font_detail_page_wrap .font_detail_page_title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .download_btn_wrap {
        margin-bottom: 40px;
    }

    .font_detail_page_wrap .source_btn, .font_detail_page_wrap .download_btn {
        width: 140px;
        height: 36px;
        font-size: 14px;
        margin-right: 8px;
        border: 1px solid;
    }

    .font_detail_page_wrap .source_btn {
        width: auto;
        min-width: 140px;
    }

    .font_detail_page_wrap .cdn_wrap {
        margin-bottom: 40px;
    }

    .font_detail_page_wrap .font_weight_wrap {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .font_detail_page_wrap .font_weight_change {
        margin-bottom: 20px;
        padding: 14px 20px;
    }

    .font_detail_page_wrap .font_weight_title {
        margin-bottom: 14px;
    }

    .font_detail_page_wrap .font_weight_txt {
        font-size: 16px;
        margin-bottom: 14px;
        padding-bottom: 14px;
    }

    .font_detail_page_wrap .font_size_wrap {
        margin-bottom: 40px;
    }

    .font_detail_page_wrap table {
        margin-top: 0;
    }

    .font_detail_page_wrap table tr {
        height: 48px;
    }

    .font_detail_page_wrap table th {
        font-size: 14px;
    }

    .font_detail_page_wrap table th:nth-of-type(1), .font_detail_page_wrap table th:last-of-type {
        width: 120px;
    }

    .font_detail_page_wrap table td {
        font-size: 14px;
        padding: 16px;
    }

    .font_detail_page_wrap table tr td svg {
        width: 14px;
        height: 14px;
    }

    .cdn_wrap input + label {
        width: 25%;
        font-size: 14px;
        height: 48px;
    }

    .cdn_wrap .cdn_code {
        height: 60px;
    }

    .cdn_wrap .cdn_code.cdn_code_font_face {
        min-height: 60px;
        padding: 19px 32px;
        padding-right: 66px;
    }

    .cdn_wrap .cdn_code.cdn_code_font_face svg {
        top: 21px;
    }

    .cdn_wrap .cdn_code pre {
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    .side_menu {
        width: 100%;
        z-index: 11;
    }

    .wrap.shrink .side_menu {
        left: -100%;
    }

    .side_menu .font_list .font_name {
        padding: 6px 2.5%;
    }

    .side_menu .font_list .font_filtered {
        padding: 6px 2.5%;
    }

    .wrap.expand .main_menu .main_menu_fixed {
        width: 100%;
    }

    .wrap.expand .main_menu .font_area_wrap {
        padding-left: 20px;
    }

    .wrap.expand .loader {
        transform: translateX(0);
    }

    .wrap.expand .font_detail_page_wrap {
        width: 100%;
    }

    .font_detail_page_wrap {
        padding: 40px 20px;
    }

    .font_detail_page_divider {
        margin: 20px 0;
    }

    .cdn_wrap input + label {
        font-size: 12px;
        height: 40px;
    }

    .cdn_wrap .cdn_code {
        padding: 0 24px;
        padding-right: 52px;
        height: 48px;
    }

    .cdn_wrap .cdn_code.cdn_code_font_face {
        padding: 14px 24px;
        padding-right: 52px;
        min-height: 48px;
    }

    .cdn_wrap .cdn_code svg {
        width: 28px;
        height: 28px;
        right: 18px;
    }

    .cdn_wrap .cdn_code.cdn_code_font_face svg {
        top: 9px;
    }

    .cdn_wrap .cdn_code pre {
        font-size: 12px;
    }

    .font_detail_page_wrap table th {
        font-size: 12px;
    }

    .font_detail_page_wrap table th:nth-of-type(1) {
        width: 88px;
    }

    .font_detail_page_wrap table th:last-of-type {
        width: 88px;
    }

    .font_detail_page_wrap table td {
        font-size: 12px;
        padding: 12px;
    }

    .font_detail_page_wrap table tr td svg {
        width: 12px;
        height: 12px;
    }

    .profile_fixed {
        right: 12px;
        bottom: 12px;
    }

    .profile_fixed_btn {
        width: 36px;
        height: 36px;
        margin-top: 6px;
    }

    .profile_fixed_btn svg {
        width: 16px;
        height: 16px;
    }

    .profile_fixed_tooltip {
        height: 36px;
        right: 48px;
        font-size: 12px;
        padding: 0 16px;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 480px) {
    .main_menu .search_bar input {
        padding: 12px 20px;
        padding-left: 52px;
    }

    .main_menu .category_box > label {
        height: 26px;
        font-size: 10px;
        padding: 0 10px;
    }

    .main_menu .category .divider {
        margin: 0 6px;
    }

    .main_menu .category .category_2, .main_menu .category .category_4 {
        margin-left: 6px;
    }

    .main_menu .category_box > label svg {
        margin-left: 6px;
    }

    .main_menu .category_box > input ~ .category_option {
        width: 84px;
        top: 32px;
    }

    .main_menu .category_box.category_3 > input ~ .category_option {
        width: 76px;
    }

    .main_menu .category_box.category_4 > input ~ .category_option {
        width: 116px;
    }

    .main_menu .category_box > input ~ .category_option {
        padding: 14px 10px;
    }

    .main_menu .category_box input ~ .category_option .chk_box {
        margin-bottom: 10px;
    }

    .main_menu .category_box input ~ .category_option span {
        font-size: 10px;
    }

    .main_menu .category_box input ~ .category_option svg {
        width: 12px;
    }

    .main_menu .font_box {
        width: 100%;
        min-height: 160px;
    }

    .main_menu .font_box .font_info_wrap {
        margin-bottom: 8px;
    }

    .main_menu .font_box .font_info_wrap div {
        font-size: 12px;
    }

    .main_menu .font_area_wrap {
        margin-top: 112px;
    }

    .font_detail_page_wrap .font_name {
        font-size: 24px;
        margin-bottom: 6px;
    }

    .font_detail_page_wrap .font_source, .font_detail_page_wrap .type_face {
        font-size: 12px;
        margin-right: 12px;
    }

    .font_detail_page_wrap .font_source span, .font_detail_page_wrap .type_face span {
        margin-right: 4px;
    }

    .font_detail_page_divider {
        margin: 16px 0;
    }

    .font_detail_page_wrap .source_btn, .font_detail_page_wrap .download_btn {
        font-size: 12px;
        height: 32px;
        padding-bottom: 1px;
    }

    .font_detail_page_wrap .source_btn {
        min-width: 120px;
    }

    .font_detail_page_wrap .download_btn {
        width: 128px;
    }

    .font_detail_page_wrap .font_detail_page_title {
        font-size: 18px;
        margin-bottom: 14px;
    }

    .cdn_wrap .cdn_code {
        padding: 0 16px;
        padding-right: 52px;
    }

    .cdn_wrap .cdn_code.cdn_code_font_face {
        padding: 13px 16px;
        padding-right: 52px;
    }

    .cdn_wrap .cdn_code > div {
        font-size: 12px;
    }

    .cdn_wrap input + label {
        font-size: 10px;
    }

    .cdn_wrap .cdn_code svg {
        right: 10px;
    }

    .font_detail_page_wrap .font_weight_change {
        padding: 12px 20px;
    }

    .font_detail_page_wrap .font_weight_title {
        font-size: 12px;
    }

    .font_detail_page_wrap .font_size_wrap h2 {
        font-size: 12px;
    }
}