/* 리셋 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

input {
    border: none;
    outline: none;
}

/* 스타일 */

.wrap {
    width: 100%;
    font-family: "Noto Sans KR";
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.side_menu {
    width: 280px;
    min-height: 100vh;
    padding: 40px 20px;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side_menu .title {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 40px;
}

.side_menu .title svg {
    width: 60px;
    height: 60px;
}

.side_menu .search_bar {
    width: 100%;
    position: relative;
}

.side_menu .search_bar input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 16px 20px;
    padding-left: 44px;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
}

.side_menu .search_bar svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.side_menu .font_list {
    width: 90%;
    margin-top: 40px;
}

.side_menu .font_list .font_name {
    font-size: 14px;
    margin-bottom: 6px;
    cursor: pointer;
}

.main_menu {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.main_menu .search_bar {
    width: 100%;
    position: relative;
}

.main_menu .search_bar input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 16px 20px;
    padding-left: 52px;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
}

.main_menu .search_bar svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.main_menu .category {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}

.main_menu .category .category_1, .main_menu .category .category_2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.main_menu .category input {
    display: none;
}

.main_menu .category label {
    position: relative;
    padding: 8px 20px;
    padding-bottom: 9px;
    margin-right: 6px;
    border-radius: 100px;
    font-size: 14px;
    line-height: 1.25;
    transition: 0.2s;
    cursor: pointer;
}

.main_menu .category .divider {
    width: 1px;
    height: 30px;
    margin-left: 14px;
    margin-right: 20px;
}

.main_menu .font_area_wrap {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.main_menu .font_box {
    width: calc(33.3% - 8px);
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
}

.main_menu .font_box_empty {
    width: calc(33.3% - 8px);
}

.main_menu .font_box .font_name {
    font-size: 18px;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 16px;
}

.main_menu .font_box .font_text {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 400;
}

/* 브라잇 모드 */

.bright_mode {
    background-color: #E9EAEE;
}

.bright_mode .side_menu {
    border-color: #CDCED2;
}

.bright_mode .side_menu .title {
    background-color: #DEE1E6;
}

.bright_mode .side_menu .title svg {
    fill: #636568;
}

.bright_mode .side_menu .search_bar input, .bright_mode .main_menu .search_bar input {
    border-color: #CDCED2;
    color: #636568;
}

.bright_mode .side_menu .search_bar input::placeholder, .bright_mode .main_menu .search_bar input::placeholder {
    color: #97989C;
}

.bright_mode .side_menu .search_bar svg, .bright_mode .main_menu .search_bar svg {
    fill: #636568;
}

.bright_mode .side_menu .font_list .font_name {
    color: #636568;
}

@media (hover: hover) and (pointer: fine) {
    .bright_mode .side_menu .font_list .font_name {
        transition: 0.2s;
    }
    .bright_mode .side_menu .font_list .font_name:hover {
        color: #35363A;
    }
}

.bright_mode .main_menu .category label {
    background-color: #CDCED2;
    color: #636568;
}

.main_menu .category input:checked + label {
    background-color: #4C4D50;
    color: #E9EAEE;
}

.bright_mode .main_menu .category label::selection {
    background-color: transparent;
}

.bright_mode .main_menu .category .divider {
    background-color: #97989C;
}

.bright_mode .main_menu .font_box {
    border-color: #CDCED2;
}

@media (hover: hover) and (pointer: fine) {
    .bright_mode .main_menu .font_box {
        transition: 0.2s;
    }
    .bright_mode .main_menu .font_box:hover {
        background-color: #DEE1E6;
    }
}

.bright_mode .main_menu .font_box .font_name {
    color: #35363A;
}

.bright_mode .main_menu .font_box .font_text {
    color: #35363A;
}