@font-face {
    font-family: 'Jeonju Gak';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./JeonjuGak-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Jeonju Gak';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./JeonjuGak-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Jeonju Gak';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./JeonjuGak-Bold.woff2') format('woff2');
}
