@font-face {
    font-family: 'Monoplex KR Wide Nerd Italic';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('./MonoplexKRWideNerdItalic-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Monoplex KR Wide Nerd Italic';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('./MonoplexKRWideNerdItalic-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Monoplex KR Wide Nerd Italic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./MonoplexKRWideNerdItalic-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Monoplex KR Wide Nerd Italic';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./MonoplexKRWideNerdItalic-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Monoplex KR Wide Nerd Italic';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./MonoplexKRWideNerdItalic-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Monoplex KR Wide Nerd Italic';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('./MonoplexKRWideNerdItalic-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Monoplex KR Wide Nerd Italic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./MonoplexKRWideNerdItalic-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Monoplex KR Wide Nerd Italic';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('./MonoplexKRWideNerdItalic-ExtraBold.woff2') format('woff2');
}
