@font-face {
    font-family: 'Happiness Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./HappinessSans-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Happiness Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./HappinessSans-Bold.woff2') format('woff2');
}
