@font-face {
    font-family: 'Kimjungchul Myungjo';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./KimjungchulMyungjo-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Kimjungchul Myungjo';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./KimjungchulMyungjo-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Kimjungchul Myungjo';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./KimjungchulMyungjo-Bold.woff2') format('woff2');
}
