@font-face {
    font-family: 'Giants';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./Giants-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Giants';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./Giants-Bold.woff2') format('woff2');
}
