@font-face {
    font-family: 'SD Samliphopangche Outline';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('./SDSamliphopangcheOutline.woff2') format('woff2');
}
