@font-face {
    font-family: 'Binggrae Two';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./BinggraeTwo-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Binggrae Two';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./BinggraeTwo-Bold.woff2') format('woff2');
}
