@font-face {
    font-family: 'NMF Classic';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./NMFClassic-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'NMF Classic';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./NMFClassic-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'NMF Classic';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./NMFClassic-Bold.woff2') format('woff2');
}
