@font-face {
    font-family: 'Jeonju Soon';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./JeonjuSoon-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Jeonju Soon';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./JeonjuSoon-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Jeonju Soon';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./JeonjuSoon-Bold.woff2') format('woff2');
}
