@font-face {
    font-family: 'ShinDongYupHandwriting';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./ShinDongYupHandwriting-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'ShinDongYupHandwriting';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./ShinDongYupHandwriting-Bold.woff2') format('woff2');
}
