@font-face {
    font-family: 'Wanjudaedunsanche';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./Wanjudaedunsanche-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Wanjudaedunsanche';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./Wanjudaedunsanche-Bold.woff2') format('woff2');
}
