@font-face {
    font-family: 'Hakgyoansim Jeomsimsigan';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./HakgyoansimJeomsimsigan-Bold.woff2') format('woff2');
}
