@font-face {
    font-family: 'Ttangs BudaeJjigae';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./TtangsBudaeJjigae-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Ttangs BudaeJjigae';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('./TtangsBudaeJjigae-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Ttangs BudaeJjigae';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('./TtangsBudaeJjigae-Bold.woff2') format('woff2');
}
