@font-face {
    font-family: 'CATHOLIC MEDICAL CENTER';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/CATHOLICMEDICALCENTER.woff2') format('woff2');
}
